@media print {

    /*для печати*/

   body.body{
       padding: 0px;
       & main>.section{
        padding-top: 20px;
        padding-bottom: 20px;
       }  
   }
   section>div.container{
       padding: 0px 30px 0px 0px;
   }
   div>div.project {
       display: block;
   }
    header,
    footer,
    .burger>div,
    .portfolio {
        display: none
    }
    .hero-container{
        display: flex;
        align-items: center;
    }
    div.thumb {
        width: 200px;
        margin: 0px 40px 0px 40px;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
        box-shadow: rgb(139 139 139 / 96%) 0px 0px 14px 7px;
        
    }
    div>h2.title{
        margin-top: 0px;
        margin-bottom: 10px;
        
    }

    .hero-title {
        font-weight: 700;
        font-size:40px;
        letter-spacing: 0.1em;
    }
    .hero-title-p {
        font-weight: 400;
        font-size: 40px;
        letter-spacing: 0.13em;
    }
    .about-list{
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
            border-right: 10px solid rgb(200, 179, 146);
            min-width: 285px;
            
    }
    .above {
        display: flex;
        flex-direction: column;
        margin-left: 30px;

        &>.tittle-p{
        font-weight: bold;
        margin-bottom: 10px;
        }
    }

   .education-item>.project-item-p, .education-item>p, .hobby-item>p{
       font-size: 12px;
   }

    address>.link-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-right: auto;
    }

    .main-wrap {
        display: flex;
        flex-wrap: nowrap;
    }

    
    .about-list-itm>.about-list-title{
        margin-bottom: 10px;
    }
    .about-list-itm-link>svg{
        width: 20px;
        height: 20px;
    }
    .about-lang-item{
        font-size: 14px;
    }

    .about-list-itm-adress:not(:last-child) {
        margin-bottom: 15px;
    }

    .about-list-link-name {
        margin-left: 5px;
        
    }

    p, .hobby-p{
        font-weight: 200;
        font-size: 14px;
        margin-bottom: 5px;       
    }

    h2{
        font-weight: 600;
        font-size: 18px;
    }

    h3{
        font-weight: 600;
        font-size: 14px;
        
    }
    
    .hobby-list{
        display: flex;
        margin-top: 0;
    }
    .hobby-item>svg.hobby-svg{
        width: 30px;
        height: 30px;
    }
}