
            <ul class="about-list" id="contact">
                <li class="about-list-itm">
                    <h2 class="about-list-title">Contact Me</h2>
                        <address class="link-wrapper">
                            <ul class="link-wrapper">
                                <li class="about-list-itm-adress"><a class="about-list-itm-link" href="https://goo.gl/maps/nqi64gJEZjXD8de36" target="_blank"
                                        rel="noreferrer noopener" aria-label="location"><svg width="30" height="30">
                                            <use href="./images/symbol-defs.svg#icon-location"></use>
                                        </svg>
                                        <p class="about-list-link-name">Brovary,Ukraine</p>
                                    </a></li>
                                <li class="about-list-itm-adress"><a class="about-list-itm-link" href="tel:+380992632441" aria-label="phone"><svg width="30" height="30">
                                            <use href="./images/symbol-defs.svg#icon-phone"></use>
                                        </svg>
                                        <p class="about-list-link-name">+38 099 263 24 41</p>
                                    </a></li>
                                <li class="about-list-itm-adress"><a class="about-list-itm-link" href="mailto:kizievdmitrii@gmail.com" aria-label="mail"><svg width="30" height="30">
                                            <use href="./images/symbol-defs.svg#icon-mail"></use>
                                        </svg>
                                        <p class="about-list-link-name">Mail</p>
                                    </a></li>
                                    <li class="about-list-itm-adress"><a class="about-list-itm-link" href="https://linkedin.com/in/dmytro-kiziiev-469991b9" target="_blank" rel="noreferrer noopener" aria-label="linkedin">
                                            <svg width="30" height="30">
                                                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                                            </svg>
                                            <p class="about-list-link-name">Linkedin</p>
                                        </a>
                                    </li>
                                    <li class="about-list-itm-adress"><a class="about-list-itm-link" href="https://github.com/KizievDmitriy" target="_blank" rel="noreferrer noopener" aria-label="github">
                                            <svg width="30" height="30">
                                                <use href="./images/symbol-defs.svg#icon-github"></use>
                                            </svg>
                                            <p class="about-list-link-name">Git Hub</p>
                                        </a>
                                    </li>
                            </ul>
                        </address>
                </li>
                <li class="about-list-itm">
                    <h2 class="about-list-title">Tech Skills</h2>
                    <ul class="about-skills-list">
                        <li class="about-skills-item"><p>HTML 5</p></li>
                        <li class="about-skills-item"><p>CSS 3</p></li>
                        <li class="about-skills-item"><p>SASS</p></li>
                        <li class="about-skills-item"><p>Responsive/Adaptive design</p></li>
                        <li class="about-skills-item"><p>JavaScript</p></li>
                        <!-- <li class="about-skills-item"><p>TypeScript</p></li> -->
                        <li class="about-skills-item"><p>React</p></li>
                        <!-- <li class="about-skills-item"><p>Redux</p></li> -->
                        <li class="about-skills-item"><p>Webpack/Parcel</p></li>
                        <li class="about-skills-item"><p>Git</p></li>
                        <!-- <li class="about-skills-item"><p>Node.js</p></li> -->
                        <!-- <li class="about-skills-item"><p>MongoDB</p></li> -->
                    </ul>
                </li>
                <li class="about-list-itm">
                    <h2 class="about-list-title">Soft Skills</h2>
                    <ul class="about-skills-list about-skills-list-dots">
                        <li class="about-skills-item"><p>Empathy</p></li>
                        <li class="about-skills-item"><p>Open-Mindedness</p></li>
                        <li class="about-skills-item"><p>Teamwork</p></li>
                        <li class="about-skills-item"><p>Responsibility</p></li>
                    </ul>
                </li>
                <li class="about-list-itm">
                    <h2 class="about-list-title">Language</h2>
                    <ul class="about-lang-list">
                        <li class="about-lang-item">English<p class="lang-color">Intermediate</p></li>
                        <li class="about-lang-item">Ukrainian<p class="lang-color">Native</p></li>
                        <li class="about-lang-item">Russian<p class="lang-color">Fluent</p></li>
                    </ul>
                </li>
            </ul>
    