<div class="above">
        <h2 class="title">About Me</h2>
        <p class="tittle-p">I am a Junior Front End developer.
        I have good knowledge of HTML,CSS,JavaScript and React,
        in addition,i have practical experience with the Agile methodology.I am looking for a company in which i can develop
        and contribute.</p>
        <div class="portfolio" id="portfolio">
            <h2  class="title">Project Experience</h2>
            <div class="swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide"><a href="https://kizievdmitriy.github.io/goit-react-hw-05-movies/" target="_blank" rel="noreferrer noopener"><img src="./images/movies.webp" alt="Movies Finder Site"></a></li>
                    <li class="swiper-slide"><a href="https://kizievdmitriy.github.io/React-Weather-App/" target="_blank" rel="noreferrer noopener"><img src="./images/weather.webp" alt="Weather App"></a></li>
                    <li class="swiper-slide"><a href="https://kizievdmitriy.github.io/goit-js-homew-11/" target="_blank" rel="noreferrer noopener"><img src="./images/img-finder.webp" alt="Image Finder Site" ></a></li>
                    <li class="swiper-slide"><a href="https://kizievdmitriy.github.io/goit-markup-hw-08/" target="_blank" rel="noreferrer noopener"><img src="./images/company.webp" alt="Web Studio Site"></a></li>
                    <li class="swiper-slide"><a href="https://kizievdmitriy.github.io/project-team-1/" target="_blank" rel="noreferrer noopener"><img src="./images/ice-cream.webp" alt="Ice-cream  Company Site"></a></li>
                    <li class="swiper-slide"><a href="https://kizievdmitriy.github.io/CV/" target="_blank" rel="noreferrer noopener"><img src="./images/cv.webp" alt="My Sammary Site"></a></li>
                    <li class="swiper-slide"><a href="https://serhiionyshchenko.github.io/team-project-filmoteka/" target="_blank" rel="noreferrer noopener"><img src="./images/filmoteca.webp" alt="Movie Search Site"></a></li>
                </ul>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="education project">
            <h2 class="title">Project Experience</h2>
            <ul class="education-list project-list">
                <li class="education-item project-item">
                    <h3><a href="https://kizievdmitriy.github.io/goit-react-hw-05-movies/" target="_blank" rel="noreferrer noopener"
                            title="Movie search site">Movies</a></h3>
                    <p class="project-item-p">[React, HTML, CSS Module, JS, Webpack, REST API]</p>
                </li>
                <li class="education-item project-item">
                    <h3><a href="https://kizievdmitriy.github.io/React-Weather-App/" target="_blank" rel="noreferrer noopener"
                            title="Movie search site">Weather App</a></h3>
                    <p class="project-item-p">[React, HTML, CSS Module, JS, Webpack, REST API]</p>
                </li>
                <li class="education-item project-item">
                    <h3><a href="https://serhiionyshchenko.github.io/team-project-filmoteka/" target="_blank" rel="noreferrer noopener"
                            title="Movie search site">Filmoteca</a></h3>
                    <p class="project-item-p">[Comand project,HTML, SASS, JS, Parcel, REST API,Firebase,Responsive/Adaptive design]</p>
                </li>
                <li class="education-item project-item">
                    <h3><a href="https://kizievdmitriy.github.io/goit-js-homew-11/" target="_blank" rel="noreferrer noopener" title="Image search website">Images Finder</a></h3>
                    <p class="project-item-p">[HTML, SASS, JS, Parcel, REST API, AJAX, Responsive/Adaptive design]</p>
                </li>
                <li class="education-item project-item">
                    <h3><a href="https://kizievdmitriy.github.io/goit-markup-hw-08/" target="_blank" rel="noreferrer noopener" title="Web Studio Site">Web Studio</a></h3>
                    <p class="project-item-p">[HTML, SASS, JS, Parcel, Responsive/Adaptive design]</p>
                </li>
                <li class="education-item project-item">
                    <h3><a href="https://kizievdmitriy.github.io/project-team-1/" target="_blank" rel="noreferrer noopener" title="Ice-cream company website">Ice-cream</a></h3>
                    <p class="project-item-p">[HTML, SASS, JS, Parcel, Responsive/Adaptive design]</p>
                </li>
                <li class="education-item project-item">
                    <h3><a href="https://kizievdmitriy.github.io/CV/" target="_blank" rel="noreferrer noopener" title="Personal resume website">My CV Site</a></h3>
                    <p class="project-item-p">[HTML, SASS, JS, Parcel, Responsive/Adaptive design]</p>
                </li>
            </ul>
        </div>
        <div class="">
            <h2 class="title">Work Experience</h2>
            <ul class="education-list">
                <li class="education-item">
                    <h3>VITIS GROUP<span>2021-2022</span></h3>
                    <p>Wine Trading Company</p>
                    <p>Sommelier in wine boutique</p>
                    
                </li>
                <li class="education-item">
                    <h3>LK-TRANS<span>2020-2021</span></h3>
                    <p>Grocery Store</p>
                    <p>Administrator</p>
                </li>
                <li class="education-item">
                    <h3>ROJO OJO<span>2016-2020</span></h3>
                    <p>Mexican Restaurant</p>
                    <p>Bar Manager</p>
                </li>
                
            </ul>
        </div>
        <div class="education">
            <h2 class="title">Education</h2>
            <ul class="education-list">
                <li class="education-item">
                    
                    <h3>GoIt<span>2021-2022</span></h3>
                    <p>It Training Shool</p>
                    <p>Full Stack Developer</p>
                </li>
                <li class="education-item">
                    
                    <h3>NAU<span>2002-2006</span></h3>
                    <p>National Aviation University</p>
                    <p>Gas turbine engineer</p>
                </li>
            </ul>
        </div>
        <div class="hobby">
            <h2  class="title">My interest</h3>
            <ul class="hobby-list">
                <li class="hobby-item"><svg class="hobby-svg" width="40" height="40"><use href="./images/symbol-defs.svg#icon-mountain"></use></svg><p class="hobby-p">Mountain Hiking</p></li>
                <li class="hobby-item"><svg class="hobby-svg" width="40" height="40"><use href="./images/symbol-defs.svg#icon-laptop"></use></svg><p class="hobby-p">Coding</p></li>
            </ul>
        </div>
</div>