<header class="header" id="home">
    <div class="container header__container">
        <a href="#" class="header__logo">Summary</a>
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-list-itm"><a href="#" class="navbar-list-a">Home</a></li>
                <li class="navbar-list-itm"><a href="#" class="navbar-list-a">Portfolio</a></li>
                <li class="navbar-list-itm"><a href="#" class="navbar-list-a">Contact</a></li>    
            </ul>
        </nav>
        <div class="header__list__wrapper">
            <a class="header__list__btn" href="javascript:(print());" aria-label="Print">
                <svg class="header__list__svg" width="30" height="30">
                    <use href="./images/symbol-defs.svg#icon-print"></use>
                </svg>
            </a>
            <!-- <button type="button" class="header__list__btn" aria-label="Light or Dark mode">
                <svg class="header__list__svg" width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-light-mode"></use>
                </svg>
                <svg class="header__list__svg" width="20" height="20">
                    <use href="./images/symbol-defs.svg#icon-dark-mode"></use>
                </svg>
            </button> -->
            <select name="select" id="" class="change__lang" aria-label="change lang">
                <option value="en" selected>En</option>
                <option value="ua">Ua</option>
            </select>
        </div>
    </div>
    
</header>
