<button type="button" class="navbar__btn" aria-label="Mobile Menu Navigation" >
    <div class="burger burger1">
        <div></div>
    </div>
</button>

<nav class="navrr">
    <ul class="main">
        <li><a href="#home">Home</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact" >Contact</a></li>
    </ul>

    <div class="about">
        <p>Please feel free to contact me if you have any questions. Thanks for your time and attention.</p>
    </div>

    <div class="social">
        <a href="https://linkedin.com/in/dmytro-kiziiev-469991b9" target="_blank" rel="noreferrer noopener" aria-label="linkedin">
            <svg width="64" height="64" >
                <use href="./images/symbol-defs.svg#icon-linkedin"></use>
            </svg>
        </a>
        <a href="https://github.com/KizievDmitriy" target="_blank" rel="noreferrer noopener" aria-label="github">
            <svg width="64" height="64" >
                <use href="./images/symbol-defs.svg#icon-github"></use>
            </svg>
        </a>
        <a href="./images/resume.pdf" class="soial-download" target="_blank" rel="noreferrer noopener" aria-label="download resume"  download="resume">
            <svg width="64" height="64">
                <use href="./images/symbol-defs.svg#icon-download"></use>
            </svg>
        </a>
    </div>
</nav>

