address{
    font-style: normal;
}

.about-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    background-color: #272727;
    color: #fff;
    @media screen and(min-width: 768px) {
        border-right: 10px solid #c8b392;
        min-width: 290px;
        padding: 60px 35px;
    }
    @media screen and(min-width: 1200px) {
        min-width: 320px;
        padding: 30px;

    }
}

.about-list-title {
    margin-bottom: 20px;
    
}


.link-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media screen and(min-width:768px) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
            
    }
}
.about-list-itm{
    &:not(:last-child){
        margin-bottom: 20px;
        @media screen and(min-width: 768px) {
            margin-bottom: 60px;
        }
        @media screen and(min-width: 1200px) {
            margin-bottom: 20px;
        }
    }
    
}
.about-list-itm-adress{
    @media screen and(max-width: 767px) {
    width: 40px;
    height: 40px;
        &:not(:first-child){
        margin-left: 20px;
    }
    }
    @media screen and(min-width: 768px) {
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
}
.about-list-itm-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #c8b392;
    box-shadow: none;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1), 
    -webkit-all 350ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and(min-width: 768px) {
        border-radius: 4px;
        
    }
    &:hover, &:focus{
        fill: #fff;
        box-shadow: 0px 0px 9px 5px rgba(247, 245, 245, 0.87);
        -webkit-box-shadow: 0px 0px 9px 5px rgba(247, 245, 245, 0.87);
        -moz-box-shadow: 0px 0px 9px 5px rgba(247, 245, 245, 0.87);
    }
}
        
.about-list-link-name {
    color: #fff;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and(max-width:767px) {
        display: none;
    }
    @media screen and(min-width:768px){
        margin-left: 10px;
        padding: 4px 6px 4px;
        // font-size: 20px;
        // font-weight: 200;
        &:hover, :focus{
            color: #c8b392;
        }
    }
}

.about-skills-list{
    border-left: 2px solid #c8b392;    
}
.about-skills-list-dots{
    position: relative;
    border-left: 3px dotted #c8b392;
}
.about-skills-item{
    margin-left: 20px;
    
    &:not(:last-child){
        margin-bottom: 5px;
    }
}

// .about-lang-list{
//     display: flex;
//     flex-direction: column;
// }
.about-lang-item{
    display: flex;
    justify-content: space-between;
}
.lang-color{
    color: #c8b392;
}