.above{
    @media screen and(min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
    }
    
}


.title{
    margin-bottom: 20px;
    margin-top: 20px;
    @media screen and(min-width: 768px) {
        margin-top: 0;
    }
       
}
.tittle-p{
    padding-left: 20px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
   
}

.education-list{
 padding-left: 20px;
}

.education-item{
    padding-left: 20px;
    margin-bottom: 10px;
    border-left: 3px dotted #272727;
    
    &>h3>span{
        color: #c8b392;
        font-weight: 600;
        border-bottom: 1px solid #c8b392;
        margin-left: 10px;
        
    }

    &>p{
        margin-top: 5px;
        font-style: italic;
        font-weight: bold;
    }

    &>h3:not(:first-child){
        margin-top: 10px;
    }
}


.hobby-list{
margin-top: 10px;
    @media screen and(min-width: 1200px) {
        display: flex;
    }
}
.hobby-item{
display: flex;
align-items: center;
margin-left: 20px;
}

.hobby-p{
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 1.15;
    margin-left: 25px;
}
.hobby-svg{
    padding: 6px;
    border-radius: 50%;
    border-color: inherit;
    background-color: inherit;
    fill: #272727;
    box-shadow: none;
    transform: scale(1);
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-all 350ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: #fff;
            border-color: #fff;
            box-shadow: 0px 0px 9px 5px rgba(200, 179, 146, 0.87);
                -webkit-box-shadow: 0px 0px 9px 5px rgba(200, 179, 146, 0.87);
                -moz-box-shadow: 0px 0px 9px 5px rgba(200, 179, 146, 0.87);
            background-color: #272727;
            transform: scale(1.1);
        }
        @media screen and(min-width: 768px) {
            width: 60px;
            height: 60px;
            
        }
}

.project{
    display: none;
}
.project-item{
        border-left: 3px solid #c8b392;
        &>h3>a{
            color: #000;
            transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1),
            -webkit-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
        }    
        &>:hover>a{
            color: #c8b392;
        }
            
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

