// Swiper stile
.swiper {
    margin-bottom: 20px;
    border-radius: 6px;
    border: 2px solid #fff;
    -webkit-box-shadow: 0px 0px 14px 7px rgba(139, 139, 139, 0.96);
    box-shadow: 0px 0px 14px 7px rgba(139, 139, 139, 0.96);
    
    @media screen and (min-width: 768px) {
        width: 400px;
        height: 200px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        width: 700px;
        height: 350px;
        border-radius: 6px;
    }

}

.swiper-button-next,
.swiper-button-prev {
    color: none;
    opacity: 0;
    transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1),
        -webkit-all 350ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    :focus {
        color: #272727;
        opacity: 1;
    }

}

.swiper-pagination-bullet-active {
    background-color: #272727;
}